<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Place" value="TC"/>
    <add key="KodaConStr" value="Data Source=vautom4\SQLEXpress; Initial Catalog=KODA;Connect Timeout=5; User ID=inline; Password=R28uHta"/>
    <add key="SystemFileFolderPath" value="\\SVFILE2\fileserver\135デバイス共通\00_公開\5000_拠点展開データ\CEJ and CET（オプト）\樹脂配合システム\system_file"/>
    <add key="PlaceSettingLastUpdate" value=""/>
  </appSettings>
</configuration>