@model IEnumerable<HighchartSample.Model.MachineName>

@{
    ViewBag.Title = "Highchartsのサンプル";
}


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("設備絞込み", "Single", "Single")</li>

    </ul>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>Line Chart</h2>
        @Html.Raw(ViewData["lineChart"])
    </div>
</div>