<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GEICS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="ServerList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ArmsServerList" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="ReportOutputPath" value="\\aoifs4.aoi.local\ForSysRo$\GEICSレポート出力\"/>
    <!--<add key="ReportOutputPath" value="\\aoifs4.aoi.local\ForSysRo$\GEICSレポート出力(TEST)\" />-->
    <add key="ReportTemplateName" value="TPL_GRAPH_AOI.xls"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <ServerList>
    <!-- <add value="SIDEVIEW自動搬送(アオイ)" key="Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL_AOI;User ID={0};password={1};Application Name=インライン傾向管理システム" />
      <add value="SIDEVIEW高生産性(アオイ)" key="Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL_HIGH;User ID={0};password={1};Application Name=インライン傾向管理システム" /> -->
    <add value="MAP合理化(アオイ)" key="Server=172.19.20.57\SQLEXPRESS;Connect Timeout=0;Database=QCIL;User ID={0};password={1};Application Name=インライン傾向管理システム"/>
    <!-- <add value="MAP自動搬送(アオイ)" key="Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL02_AUTO;User ID={0};password={1};Application Name=インライン傾向管理システム" />
      <add value="MAP高生産性(アオイ)" key="Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL02;User ID={0};password={1};Application Name=インライン傾向管理システム" /> -->
    <add value="NTSV合理化(アオイ)" key="Server=172.19.35.129\SQLEXPRESS;Connect Timeout=0;Database=QCIL;User ID={0};password={1};Application Name=インライン傾向管理システム"/>
  </ServerList>
  <ArmsServerList>
    <add key="MAP合理化(アオイ)" value="Server=172.19.19.235\SQLEXPRESS;Connect Timeout=0;Database=ARMS;User ID={0};password={1};Application Name=インライン傾向管理システム"/>
  </ArmsServerList>
  <userSettings>
    <GEICS.Properties.Settings>
      <setting name="ConnectionString_NASCA_NMC" serializeAs="String">
        <value>Server=NMCDB2.nmc.local\INST2;Connect Timeout=0;Database=SC07_NADB01;UID=sla02;PWD=2Gquf5d;Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_BATCH_SV_HIGH" serializeAs="String">
        <value>Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL_HIGH;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_BATCH_SV_AUTO" serializeAs="String">
        <value>Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL_AOI;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=NADB01;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA_AOI" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=SC02_NADB01;UID=sla02;PWD=2Gquf5d;Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA_KYO" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=SC03_NADB01;UID=sla02;PWD=2Gquf5d;Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA_MIK" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=SC06_NADB01;UID=sla02;PWD=2Gquf5d;Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_QCIL_MAIN" serializeAs="String">
        <value>Server={0};Connect Timeout=0;Database={1};UID={2};PWD={3};Application Name=装置情報傾向管理システム[GEICS3]</value>
      </setting>
      <setting name="ConnectionString_QCIL_SUB" serializeAs="String">
        <value>Server={0}\SQLEXPRESS;Connect Timeout=0;Database=QCIL;UID={1};PWD={2};Application Name=装置情報傾向管理システム[GEICS3]</value>
      </setting>
      <setting name="ConnectionString_NASCA_CE" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=SC10_NADB01;UID=sla05;PWD=ZP3wnIC;Application Name=装置情報傾向管理システム[GEICS3]</value>
      </setting>
      <setting name="ConnectionString_BATCH_MAP_AUTO" serializeAs="String">
        <value>Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL02_AUTO;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_BATCH_MAP_HIGH" serializeAs="String">
        <value>Server=AOIDB1.aoi.local\INST1;Connect Timeout=0;Database=QCIL02;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConStrServ" serializeAs="String">
        <value>Server={0};Connect Timeout=0;Database={1};User ID={2};password={3};Application Name=装置情報傾向管理システム[GEICS3]</value>
      </setting>
    </GEICS.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
