<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArmsWorkTransparency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArmsWorkTransparency.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ArmsWorkTransparency.Properties.Settings>
            <setting name="MachineMonitorUpdateMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LotMonitorUpdateMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SupplyIdVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlendCdVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChipCtVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningMagazineFree" serializeAs="String">
                <value />
            </setting>
            <setting name="WarningMagazineFreeCt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CautionMagazineFreeCt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadMagazinePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoaderMagazineFreeCountVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChipChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StampPinChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColletChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EjectPinChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbResinChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoldWireChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CapillaryChangePlanTimeVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMachineReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabletMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaterialLimitVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResinGroupVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StampPinChangePlanTimeVisible2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MagazineNoVisibleVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBThrowDtVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AimRankVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhosphorSheetMatCdVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReachingDateVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReachingMinutesVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextLineVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhosphorSheetResinGroupCdVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </ArmsWorkTransparency.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ArmsWorkTransparency.Properties.Settings>
            <setting name="UphSampleLotCt" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UnattendedTimeZoneList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>17:15,19:45</string>
                        <string>5:15,7:45</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseHitCtQcParamNoList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4, L, 146</string>
                        <string>1, L, 33</string>
                        <string>4, R, 147</string>
                        <string>1, R, 34</string>
                        <string>9, R, 34</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MachineReadyFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\172.16.33.61\lams_test\WORK2\MachineReady.act</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LineConfigPathList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\sl6-0966\nel\BIN\lineconfig.xml</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ArmsWorkTransparency.Properties.Settings>
    </applicationSettings>
</configuration>
