@model ArmsWeb.Models.WaferEditModel
@{
    ViewBag.Title = "Remove";
}

<h3>カセット全取り外し確認</h3>
<h3>装置：@Model.Mac.LongName</h3>

<p>
    以下の原材料を取り外します

        <ul>
            @foreach (ArmsApi.Model.Material m in Model.WaferList.Values)
            {
                <li>@m.StockerNo : @m.LongName</li>
            }
        </ul>
</p>

<div>
    @Html.ActionLink("OK", "RemoveConfirmed")
    &nbsp
    @Html.ActionLink("キャンセル", "Index")
</div>
