@model ArmsWeb.Models.CassetteTransfer2to1Model
@{
    ViewBag.Title = "Index";
}

<h3>リング転写（G11研削2枚貼り用)</h3>

@using (Html.BeginForm())
{
    <h3>マガジン読み込み</h3>
    <input type="text" id="txtMagNo" name="txtMagNo" />
    <input type="submit" value="Go" />
        
    <br />

    <hr />
}