@model ArmsWeb.Models.WaferEditModel
@{
    ViewBag.Title = "ChangeMachineConfirm";
}

@using (Html.BeginForm("ChangeMachineConfirmed", "Wafer"))
{
    <h3>カセット装置振替確認</h3>
    <h3>装置(振替元)：@Model.Mac.LongName</h3>
    <h3>装置(振替先)：@Model.NewMac.LongName</h3>
    <p>振替カセット情報</p>
    <ul>
        @foreach (ArmsApi.Model.Material m in Model.EditTarget)
        {
            <li>@m.StockerNo : @m.LongName</li>
        }
    </ul>
    <br />

    <p>装置を振り替えます</p>
    <div>
        <input type="submit" value="登録" />
        &nbsp
        <button onclick="location.href='@Url.Action("ChangeMachineCancel")';return false;">キャンセル</button>
    </div>
}