@model ArmsWeb.Models.WorkCndEditModel
@{
    ViewBag.Title = "InsertConfirm";
}

@using (Html.BeginForm("InsertConfirmed", "WorkCnd"))
{
    <h3>製造条件割り付け確認</h3>
    <h5>装置：@Model.PlantCd</h5>
    <h5>製造条件:@Model.EditTarget.WebString</h5>

    <br />
    <div>割り付けます</div>
    <input type="submit" value="OK" />
    <button onclick="location.href='@Url.Action("Index")';return false;">キャンセル</button>    
}