@model ArmsWeb.Models.DefectSubStEditModel
@{
    ViewBag.Title = "Index";
}

<h3>基板不良枚数登録</h3>
<h3>装置：@Model.Mac.LongName</h3>

@using (Html.BeginForm("Select", "DefectSubSt"))
{
    if (Model.Orders.Length >= 1)
    {
        
        <select size="5" name="orderindex">
            @for (int i = 0; i < Model.Orders.Length; i++)
            {
                ArmsApi.Model.Order ord = Model.Orders[i];
                <option value="@i">@ord.InMagazineNo : @ord.NascaLotNo</option>
            }
        </select>
    
        <p>
            <button type="submit">不良入力</button>
        </p>
    }
    else
    {
        <h5>現在投入中のロットはありません</h5>
    }

}


