<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EICS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EICS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--追加Start NASCA公開API-->
  <connectionStrings>
    <add name="EICS.Properties.Settings.QCILConnectionString" connectionString="Data Source=SLA-0040-2\SQLEXPRESS;Initial Catalog=QCIL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EICS.Properties.Settings.QCILConnectionString1" connectionString="Data Source=172.21.152.235\SQLEXPRESS;Initial Catalog=QCIL;Persist Security Info=True;User ID=inline;Password=R28uHta"
      providerName="System.Data.SqlClient" />
    <add name="EICS.Properties.Settings.QCILConnectionString2" connectionString="Data Source=172.21.208.221\SQLEXPRESS;Initial Catalog=QCIL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PublicWebService.NppPublicWebService" value="http://naweb.nichia.local/NPPPublic/NppPublicWebService.asmx" />
    <add key="PublicWebService.TimeOut" value="1200000" />
    <add key="SLP1_SERVER" value="SLP1-SERVER" />
    <add key="SLP2_SERVER" value="SLP2-SERVER" />
    <add key="SLA_SERVER" value="SLA-SERVER" />
    <add key="SLC_SERVER" value="SLC-SERVER" />
    <add key="SLL_SERVER" value="SLL-SERVER" />
    <add key="SLK_SERVER" value="SLK-SERVER" />
    <add key="SLS_SERVER" value="SLS-SERVER" />
    <add key="SLC_SERVER_WS" value="SLC-SERVER(WS)" />
    <add key="SLK_SERVER_WS" value="SLK-SERVER(WS)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <EICS.Properties.Settings>
      <setting name="ConnectionString_QCILDB" serializeAs="String">
        <value>Server={2}\SQLEXPRESS;Database=QCIL;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_ARMSDB" serializeAs="String">
        <value>Server={2}\SQLEXPRESS;Database=ARMS;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_HONBAN_MAP_AUTO" serializeAs="String">
        <value>Server=NSERVER01\INST1;Database=QCIL_MAP;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_HONBAN_SIDE_HIGH" serializeAs="String">
        <value />
      </setting>
      <setting name="ConnectionString_HONBAN_GA_AUTO" serializeAs="String">
        <value>Server=HQDB101\INST1;Database=QCIL03;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_HONBAN_MAP_HIGH" serializeAs="String">
        <value>Server=172.16.17.245\SQLEXPRESS;Database=QCIL;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_HONBAN_SIDE" serializeAs="String">
        <value>Server=HQDB101\INST1;Database=QCIL;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_LENSDB" serializeAs="String">
        <value>Server={2}\SQLEXPRESS;Database=LENS;Connect Timeout=60;UID={0};PWD={1};Application Name=EICS[傾向管理システム];</value>
      </setting>
      <setting name="ConnectionString_NASCA" serializeAs="String">
        <value>Data Source=HQDB1.nichia.local\INST1;Initial Catalog=NADB01;Persist Security Info=True;User ID={0};Password={1};Application Name=EICS[傾向管理システム];Connection Timeout=10;</value>
      </setting>
    </EICS.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <EICS.Properties.Settings>
      <setting name="EICS_NascaAPI_NppPublicWebServiceSoap" serializeAs="String">
        <value>http://naweb-dev64.nichia.local/NPPPublic/NppPublicWebService.asmx</value>
      </setting>
    </EICS.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>