<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GEICS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="ServerList" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="ReportOutputPath" value="\\tecfs2.takatsuki.local\KYOForSYSRO$\GEICSレポート出力\"/>
    <add key="ReportTemplateName" value="TPL_GRAPH_KYO.xls"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <ServerList>
    <add value="SIDEVIEW高生産性(京都)" key="Server=TECDB1.takatsuki.local\INST1;Database=QCIL_KYOTO;Connect Timeout=60;UID={0};PWD={1};Application Name=インライン傾向管理システム"/>
    <add value="3in1高生産性(京都)" key="Server=192.168.114.215\SQLEXPRESS;Connect Timeout=0;Database=QCIL;User ID={0};password={1};Application Name=GEICS3"/>
  </ServerList>
  <userSettings>
    <GEICS.Properties.Settings>
      <setting name="ConnectionString_NASCA" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=NADB01;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA_KYO" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=SC03_NADB01;UID=sla02;PWD=2Gquf5d;Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA_MIK" serializeAs="String">
        <value>Server=HQDB1.nichia.local\INST1;Connect Timeout=0;Database=SC06_NADB01;UID=sla02;PWD=2Gquf5d;Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_QCIL_MAIN" serializeAs="String">
        <value>Server={0};Connect Timeout=0;Database={1};UID={2};PWD={3};Application Name=装置情報傾向管理システム[GEICS3]</value>
      </setting>
      <setting name="ConnectionString_QCIL_SUB" serializeAs="String">
        <value>Server={0}\SQLEXPRESS;Connect Timeout=0;Database=QCIL;UID={1};PWD={2};Application Name=装置情報傾向管理システム[GEICS3]</value>
      </setting>
      <setting name="ConnectionString_NASCA_NMC" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionString_BATCH_SV_HIGH" serializeAs="String">
        <value>Server=TECDB1.takatsuki.local\INST1;Connect Timeout=0;Database=QCIL01_HIGH_MIK;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_BATCH_SV_AUTO" serializeAs="String">
        <value>Server=TECDB1.takatsuki.local\INST1;Connect Timeout=0;Database=QCIL01_HIGH_MIK;User ID={0};password={1};Application Name=インライン傾向管理システム</value>
      </setting>
      <setting name="ConnectionString_NASCA_AOI" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionString_NASCA_CE" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionString_BATCH_MAP_HIGH" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConnectionString_BATCH_MAP_AUTO" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConStrServ" serializeAs="String">
        <value>Server={0};Connect Timeout=0;Database={1};User ID={2};password={3};Application Name=・</value>
      </setting>
    </GEICS.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
