@model ArmsWeb.Models.MaterialEditModel

@{
    ViewBag.Title = "InsertNew";
}

@using(Html.BeginForm())
{
    <h3>その他原材料登録</h3>

    <h3>原材料コード読み込み</h3>
    <h3>装置：@Model.Mac.LongName</h3>

    <input type="text" id="barcode" name="barcode"/>
    <input type="submit" value="Go" />
    <h3>@Html.CheckBox("isRingID", Model.isCheckedRingID) リングID</h3>
    if (Model.EditTarget.Count() >= 1)
    {
        <ul>
            @foreach (ArmsApi.Model.Material m in Model.EditTarget)
            {
            <li>@m.LongName</li>
            }
        </ul>
    }
    <br />
    <button onclick="location.href='@Url.Action("InsertConfirm")';return false;">決定</button>
}