@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("画像登録", "Index", "Post")

@*Html.ActionLink("画像登録2", "Index", "Resi")*@


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
