@model ArmsWeb.Models.WorkEndAltModel
@{
    ViewBag.Title = "InputFailureBdQty";
}

@using (Html.BeginForm())
{
    <h3>基板不良数入力</h3>
    <input type="number" id="txtFileBdQty" name="txtFileBdQty" value="0"/>
    <input type="submit" value="Go" />

        <br />

    <h5>読み込み済みロット</h5>
    <p>
        @if (Model.VirtualMags.Count() == 1)
        {
            <span>移載元：@Model.VirtualMags.ElementAt(0).Value.LastMagazineNo<br /></span>
        }
        移載先：@Model.UnloaderMagNo<br />
        NASCAロット：@Model.MagList[0].NascaLotNO<br />
        基板不良枚数：@Model.FailureBdQty [枚]
    </p>
    <br />
    
    if (!string.IsNullOrEmpty(Model.UnloaderMagNo))
    {
    <div>
        @Html.ActionLink("作業完了", "Confirm")
        &nbsp
        @Html.ActionLink("キャンセル", "CancelEdit")
    </div>
    }   
}