@model ArmsWeb.Models.MaterialEditModel

@{
    ViewBag.Title = "Index";
}

<h3>MAPダイシングブレード登録情報</h3>
<h5>装置:@Model.Mac.LongName</h5>
<h5></h5>

@using (Html.BeginForm("Remove", "Material"))
{
    if (Model.MatList.Count() >= 1)
    {

        <ul>
            @foreach (KeyValuePair<int, ArmsApi.Model.Material> kv in Model.MatList)
            {
            <li>
                <input type="radio" name="matindex" value="@kv.Key" />@kv.Value.LongName
            </li>
            }
        </ul>
	    <br />
	    <button type="submit">取り外し</button>
	    <br />
    }
        else
    {
        <h5>現在投入中の原材料はありません</h5>
    }
}

@using (Html.BeginForm("InsertNew", "MapDicingBlade"))
{
   <div>取付位置コード:</div>
   <input type="text" name="placecd"/>
   <input type="submit" value="新規割付" />
}
