@model ArmsWeb.Models.MaterialEditModel
@{
    ViewBag.Title = "InsertNew";
}

@using (Html.BeginForm())
{
    <h3>MAPダイシングブレード取りつけ</h3>

    <h3>原材料コード読み込み</h3>
    <h3>装置：@Model.Mac.LongName</h3>
    <h3>取りつけ位置：@Model.MapDicingBladePlaceCd</h3>
    <input type="text" id="barcode" name="barcode" />
    <input type="submit" value="Go" />
    <br />
    if (Model.EditTarget.Count() >= 1)
    {
        <ul>
            @foreach (ArmsApi.Model.Material m in Model.EditTarget)
            {
            <li>@m.LongName</li>
            }
        </ul>
    }
    <br />
    <button onclick="location.href='@Url.Action("InsertConfirm","Material")';return false;">決定</button>
}