@model ArmsWeb.Models.WorkCndEditModel

@{
    ViewBag.Title = "Index";
}

<h3>製造条件編集</h3>
<h3>装置：@Model.Mac.LongName</h3>

@using (Html.BeginForm("Remove", "WorkCnd"))
{
    
    if (Model.Conditions.Count() >= 1){
        
    <select size="5" name="cndindex">
        @foreach (KeyValuePair<int, ArmsApi.Model.WorkCondition> kv in Model.Conditions)
        {
            <option value="@kv.Key" >@kv.Value.WebString</option>
        }
    </select>

    <br />
    <button type="submit">取り外し</button>
    <br />
    }
    else
    {
        <h5>現在割り付け中の製造条件はありません</h5>
    }
       
    <button onclick="location.href='@Url.Action("InsertNew")';return false;">新規割付</button>
}