@model ArmsWeb.Models.MagazineCarrierCompareModel

@{
    ViewBag.Title = "Index";
}

<h3>マガジンと基板DM/キャリアQRの照合</h3>
<h3>マガジン番号：@Model.MagazineNo</h3>
<br />

@using (Html.BeginForm())
{
    <h3>基板DM/キャリアQR読み込み</h3>
    <input type="text" id="txtDataMatrix" name="txtDataMatrix" />
    <input type="submit" value="Go" />

    <h5>読み込み済み基板DM/キャリアQR @Model.DataMatirxList.Count().ToString() </h5>
    <ul>
        @foreach (string dm in Model.DataMatirxList)
        {
            <li>@dm</li>
        }
    </ul>
    <br />
    
    <div>
        @Html.ActionLink("照合", "Confirm")
        &nbsp
        @Html.ActionLink("キャンセル", "CancelEdit")
    </div>
    
    <br />

}
