@model ArmsWeb.Models.WorkCndEditModel
@{
    ViewBag.Title = "InsertNew";
}


@using (Html.BeginForm("InsertConfirm", "WorkCnd"))
{
    <h3>製造条件コード読み込み</h3>

    <h5>装置：@Model.PlantCd</h5>

    <ul>
        @foreach (KeyValuePair<int, ArmsApi.Model.WorkCondition> cond in Model.WorkCondList)
        {
            <li>
                <input type="radio" name="condindex" value="@cond.Key" />@cond.Value.CondName
            </li>
        }
    </ul>



    <br />
    <br />

    <input type="text" id="barcode" name="barcode" />
    <input type="submit" value="Go" />
}