@model ArmsWeb.Models.WorkStartEndAltModel
@{
    ViewBag.Title = "Confirm";
}


<p>下記の内容で開始完了します</p>
<h3>設備：@Model.PlantCd</h3>
<h3>作業者：@Model.EmpCd</h3>

<p>読み込み済みロット</p>

    <ul>
    @foreach (ArmsApi.Model.Magazine mag in Model.MagList)
    {
        <li>@mag.MagazineNo : @mag.NascaLotNO</li>
    }
    </ul>

@if (!string.IsNullOrEmpty(Model.UnloaderMagNo))
{
    <p>完成後マガジン:@Model.UnloaderMagNo</p>
}


<br />
<div>
    @Html.ActionLink("登録", "Submit");
                &nbsp
    @Html.ActionLink("キャンセル", "CancelEdit")
</div>
