@using ArmsApi.Model
@model ArmsWeb.Models.BlendLabelCompareModel
@{
    ViewBag.Title = "Confirm";
}

@using (Html.BeginForm("Confirmed", "BlendLabelCompare"))
{
    <h3>ダイシング後ラベルとロット管理表のロット照合</h3>
    <h3>ダイシング後ラベルロット：@Model.BlendLotNo</h3>

    <h3>ロット管理表ロット：@Model.AsmLotList.Count().ToString() </h3>
    <ul>
        @foreach (string asmlotno in Model.AsmLotList)
        {
            <li>@asmlotno</li>
        }
    </ul>
    <br />

    <div>
        <input type="submit" value="Go" />
        &nbsp
        <button onclick="location.href='@Url.Action("CancelEdit")';return false;">キャンセル</button>
    </div>
}