@using ArmsApi.Model
@model ArmsWeb.Models.BlendLabelCompareModel
@{
    ViewBag.Title = "Finish";
}

<h3>ダイシング後ラベルとロット管理表のロット照合完了</h3>
<h3>ダイシング後ラベルロット：@Model.BlendLotNo</h3>
<h3>ロット管理表ロット：@Model.AsmLotList.Count().ToString() </h3>
<ul>
    @foreach (string asmlotno in Model.AsmLotList)
    {
        <li>@asmlotno</li>
    }
</ul>
    @if (Model.IsOK)
    {
<H3 style="color:blue">@Model.Msg</H3>
    }
    else
    {
<H3 style="color:red">@Model.Msg</H3>
    }



