@model ArmsWeb.Models.BlendLabelCompareModel

@{
    ViewBag.Title = "Index";
}

<h3>ダイシング後ラベルとロット管理表のロット照合</h3>
<h3>設備：@Model.PlantCd</h3>
<h3>作業者：@Model.EmpCd</h3>
<h3>ダイシング後ラベルロット：@Model.BlendLotNo</h3>
<br />

@using (Html.BeginForm())
{
    <h3>ロット管理表ロット読み込み</h3>
    <input type="text" id="txtAsmLotNo" name="txtAsmLotNo" />
    <input type="submit" value="Go" />

    <h5>読み込み済みロット @Model.AsmLotList.Count().ToString() </h5>
    <ul>
        @foreach (string asmlotno in Model.AsmLotList)
        {
            <li>@asmlotno</li>
        }
    </ul>
    <br />
    
    <div>
        @Html.ActionLink("照合", "Confirm")
        &nbsp
        @Html.ActionLink("キャンセル", "CancelEdit")
    </div>
    
    <br />

}
