@using ArmsApi.Model
@model ArmsWeb.Models.LotCarrierModel
@{
    ViewBag.Title = "Confirm";
}

@using (Html.BeginForm("Confirmed", "LotCarrier"))
{
<h3>ロットと基板DM/キャリアQRの関連付け登録</h3>
<h3>ロット番号：@Model.LotNo</h3>
<h3>マガジン番号：@Model.MagazineNo</h3>
<br />
 <h3>以下の基板DM/キャリアQRを登録します。既存のデータがあれば上書きされますがよろしいですか？ </h3>
    <ul>
        @foreach (string dm in Model.DataMatirxList)
        {
            <li>@dm</li>
        }
    </ul>
    <br />
    
    <div>
        <input type="submit" value="Go" />
        &nbsp
        <button onclick="location.href='@Url.Action("CancelEdit")';return false;">キャンセル</button>    
    </div>
}